In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
df = pd.read_csv('pop_pak.csv')

In [ ]:
df.to_excel('pak_pop.xlsx')

In [ ]:
df_xl = pd.read_excel('pak_pop.xlsx')

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.head(10)

In [ ]:
df.tail(4)

In [ ]:
df.describe()

In [ ]:
pd.show_versions()

In [ ]:
data = pd.DataFrame(data = {'A' : [1,2,3,4], 'B':[5,6,7,8]})

In [ ]:
data

In [ ]:
print(data)

In [ ]:
import numpy as np
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

In [ ]:
pd.DataFrame(arr)

In [ ]:
pd.DataFrame(np.random.rand(10,30), columns=list('ABCDEFGHIJKLMNOPQRSTUVWXYZAAAB'))

In [ ]:
data.rename(columns={'A':'Aloo','B':'Lalo'}, inplace=True)
data

In [ ]:
data.columns=['cola','bola']
data

In [ ]:
data.columns=data.columns.str.replace('o','v')
data

In [ ]:
data = data.add_prefix('nalla_')
data

In [ ]:
data = data.add_suffix('_lanti')
data

In [ ]:
df = data
df.columns=['A','B']
df

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.to_csv('tips.csv')

In [ ]:
#import file from directory
df = pd.read_excel('ship.xlsx')
df.head()

In [ ]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('titanic')
df.head()

In [ ]:
df.loc[::-1].head()

In [ ]:
# df.loc[::-1].head()

In [ ]:
df.loc[::-1].reset_index(drop=True).head()

In [ ]:
df.loc[:, ::-1].head()

In [ ]:
df.select_dtypes(include=['object']).head()

In [ ]:
df.select_dtypes(exclude=['number']).head()

In [ ]:
df = pd.DataFrame({'col_a':['1','2','3','4'],'col_b':[5,6,7,8]})
df

In [ ]:
df.dtypes

In [ ]:
df.astype({'col_a':'object','col_b':'object'})
df.dtypes

In [ ]:
df.dtypes

In [ ]:
pd.to_numeric(df['col_a'],errors='coerce')

In [ ]:
df.dtypes

In [ ]:
df = pd.DataFrame({'col_a':[1,2,3,4],'col_b':[5,6,7,8]})
df.dtypes

In [ ]:
df.astype({'col_b':'object'})

In [ ]:
df.dtypes

In [ ]:
df = sns.load_dataset('titanic')
df.shape

In [ ]:
df.sample(frac=0.2).shape

In [ ]:
df.info()

In [ ]:
df = pd.read_clipboard()
df

In [ ]:
df = sns.load_dataset('titanic')
df.shape

In [ ]:
df_1 = df.sample(frac=0.5)
df_1.shape

In [ ]:
df_2 = df.drop(df_1.index)
df_2.shape

In [ ]:
len(df_1)+len(df_2)

In [ ]:
df.sex.unique()

In [ ]:
df

In [ ]:
df[(df.alive=='yes')]

In [ ]:
df.age.unique()

In [ ]:
df[((df.embark_town=='Southampton') | (df.embark_town=='Southampton') ) & (df.age<=10)].shape

In [ ]:
df.age.value_counts().nlargest(3).index

In [ ]:
count = df.who.value_counts()
count.nlargest(3)

In [ ]:
import pandas as pd
df = pd.DataFrame({'name':['Sufwan M','S Mubeen','M Aali'], 
                   'location':['RYK, Pakistan','Isb, Pak','Landikotal, Pakistan']})
df

In [ ]:
df[['first_name','last_name']] = df.name.str.split(' ', expand=True)

In [ ]:
df

# MUHAMMAD AAAALI

In [ ]:
df.location.str.split(',',expand=True)

In [ ]:
df[['city','country']]=df.location.str.split(',',expand=True)

In [ ]:
df

In [ ]:
df = df[['first_name','last_name','city','country']]
df

In [ ]:
#import libraries
import pandas as pd
import seaborn as sns

#loading data
df = sns.load_dataset('titanic')
df.head()

In [ ]:
df.groupby('who').count()

In [130]:
df.groupby(['sex','who','embarked']).count()

                       survived  pclass  age  sibsp  parch  fare  class  \
sex    who   embarked
female child C               13      13   13     13     13    13     13
             Q                1       1    1      1      1     1      1
             S               29      29   29     29     29    29     29
       woman C               60      60   60     60     60    60     60
             Q               35      35   35     35     35    35     35
             S              176     176  176    176    176   176    176
male   child C                5       5    5      5      5     5      5
             Q                4       4    4      4      4     4      4
             S               31      31   31     31     31    31     31
       man   C               90      90   90     90     90    90     90
             Q               37      37   37     37     37    37     37
             S              410     410  410    410    410   410    410

                       adult_male  embark_town  alive  alone  grouped_age
sex    who   embarked
female child C                 13           13     13     13           13
             Q                  1            1      1      1            1
             S                 29           29     29     29           29
       woman C                 60           60     60     60           60
             Q                 35           35     35     35           35
             S                176          176    176    176          176
male   child C                  5            5      5      5            5
             Q                  4            4      4      4            4
             S                 31           31     31     31           31
       man   C                 90           90     90     90           90
             Q                 37           37     37     37           37
             S                410          410    410    410          410

In [ ]:
df.describe()

In [ ]:
df.describe().loc['mean':'75%','pclass':'parch']

In [ ]:
df.head()

In [ ]:
df.survived.mean()

In [ ]:
df.groupby(['who','class']).survived.mean().unstack()

In [ ]:
df.sex.head()

In [ ]:
df['sex_num'] = df.sex.map({'male':0,'female':1})

In [ ]:
df.head()

In [ ]:
df.embarked.unique(
    
)

In [ ]:
df['emb_num'] = df.embarked.factorize()[0]

In [ ]:
df.head()

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(200,25), columns=list('abcdefghojklmnopqrstuvwxy'))
df.head()

In [ ]:
df.T

In [ ]:
df.describe()

In [ ]:
df = df.T
df.T

In [ ]:
df.describe().T

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df  = sns.load_dataset('titanic')
df.head()

In [ ]:
df.isnull().sum() / len(df) * 100

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df.columns

In [ ]:
df['class'].nunique()

In [ ]:
df.head()

In [ ]:
df.groupby('age')['fare'].mean()

In [ ]:
# importing libraries
corr_df = df[['fare','age','sibsp','parch']].corr()
sns.heatmap(corr_df, annot=True)

In [ ]:
sns.pairplot(df)

In [ ]:
df.head()

In [ ]:
df.isnull().sum() / len(df) *100

In [ ]:
df.drop('deck', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df['age'].fillna(df['age'].mean(), inplace=True)

In [ ]:
df.isnull().sum() / len(df) *100

In [ ]:
df['age'].fillna(df['age'].mean(), inplace=True)

In [ ]:
df.isnull().sum() / len(df) *100

In [ ]:
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
df['embark_town'].fillna(df['embark_town'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
sns.histplot(df['age'])

In [ ]:
# binning of age column into 7 categories
bins = [0,1,5,12,18,30,50,80]
labels = ['Infant', 'Toddler','Kid','Teen','Young','Middle Aged','Old']
df['binned_age'] = pd.cut(df['age'], bins=bins, labels=labels)

In [ ]:
df.head()

In [ ]:
df['binned_age'].value_counts()

In [ ]:
# renaming binned age column
df.rename(columns={'binned_age':'grouped_age'}, inplace=True)

In [ ]:
df.head()

In [ ]:
# to find how many infants survived using groupby function
df.groupby('survived')['grouped_age']

In [ ]:
df.groupby('survived')['grouped_age']

In [132]:
df.groupby(['survived','grouped_age']).count()

C:\Users\sufwa\AppData\Local\Temp\ipykernel_28688\4018944810.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['survived','grouped_age']).count()

                      pclass  sex  age  sibsp  parch  fare  embarked  class  \
survived grouped_age
0        Infant            2    2    2      2      2     2         2      2
         Toddler          11   11   11     11     11    11        11     11
         Kid              16   16   16     16     16    16        16     16
         Teen             40   40   40     40     40    40        40     40
         Young           299  299  299    299    299   299       299    299
         Middle Aged     139  139  139    139    139   139       139    139
         Old              42   42   42     42     42    42        42     42
1        Infant           12   12   12     12     12    12        12     12
         Toddler          19   19   19     19     19    19        19     19
         Kid               9    9    9      9      9     9         9      9
         Teen             30   30   30     30     30    30        30     30
         Young           148  148  148    148    148   148       148    148
         Middle Aged     102  102  102    102    102   102       102    102
         Old              22   22   22     22     22    22        22     22

                      who  adult_male  embark_town  alive  alone
survived grouped_age
0        Infant         2           2            2      2      2
         Toddler       11          11           11     11     11
         Kid           16          16           16     16     16
         Teen          40          40           40     40     40
         Young        299         299          299    299    299
         Middle Aged  139         139          139    139    139
         Old           42          42           42     42     42
1        Infant        12          12           12     12     12
         Toddler       19          19           19     19     19
         Kid            9           9            9      9      9
         Teen          30          30           30     30     30
         Young        148         148          148    148    148
         Middle Aged  102         102          102    102    102
         Old           22          22           22     22     22

In [133]:
# filtering out data on based of columns
df_01 = df[['survived', 'grouped_age','fare','sex','class']]

In [134]:
df_01.head()

   survived  grouped_age     fare     sex  class
0         0        Young   7.2500    male  Third
1         1  Middle Aged  71.2833  female  First
2         1        Young   7.9250  female  Third
3         1  Middle Aged  53.1000  female  First
4         0  Middle Aged   8.0500    male  Third

In [135]:
df_01.count()

survived       891
grouped_age    891
fare           891
sex            891
class          891
dtype: int64

In [136]:
df_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   grouped_age  891 non-null    category
 2   fare         891 non-null    float64
 3   sex          891 non-null    object
 4   class        891 non-null    category
dtypes: category(2), float64(1), int64(1), object(1)
memory usage: 23.2+ KB

In [137]:
df_01['class'].value_counts()

class
Third     491
First     216
Second    184
Name: count, dtype: int64

In [138]:
df_01[df_01['class'] == 'Third']

     survived  grouped_age     fare     sex  class
0           0        Young   7.2500    male  Third
2           1        Young   7.9250  female  Third
4           0  Middle Aged   8.0500    male  Third
5           0        Young   8.4583    male  Third
7           0      Toddler  21.0750    male  Third
..        ...          ...      ...     ...    ...
882         0        Young  10.5167  female  Third
884         0        Young   7.0500    male  Third
885         0  Middle Aged  29.1250  female  Third
888         0        Young  23.4500  female  Third
890         0  Middle Aged   7.7500    male  Third

[491 rows x 5 columns]

In [143]:
df_01[df_01['fare'] >= 200].count()

survived       20
grouped_age    20
fare           20
sex            20
class          20
dtype: int64