# Feature Encoding

### 1. One Hot Encoding

In [1]:
import pandas as pd

In [2]:
# sample data
data = {'color':['red', 'orange', 'green', 'red', 'green']}
df = pd.DataFrame(data)
df

    color
0     red
1  orange
2   green
3     red
4   green

In [3]:
# one hot encoding
encoded_data = pd.get_dummies(df, columns=['color'])
encoded_data

   color_green  color_orange  color_red
0        False         False       True
1        False          True      False
2         True         False      False
3        False         False       True
4         True         False      False

### 2. Label Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder
# label encoding
label_encoder = LabelEncoder()
df['color'] = label_encoder.fit_transform(df['color'])
df

   color
0      2
1      1
2      0
3      2
4      0

### 3. Ordinal Encoding

In [18]:
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({'likert':['stronglydisagree','disagree','neutral','stronglyagree','stronglydisagree','agree']})
df

             likert
0  stronglydisagree
1          disagree
2           neutral
3     stronglyagree
4  stronglydisagree
5             agree

In [19]:
# ordinal encoding
ordinal_encoder = OrdinalEncoder(categories=[['stronglydisagree','disagree','neutral','agree','stronglyagree']])
df['likert'] = ordinal_encoder.fit_transform(df[['likert']])
df

   likert
0     0.0
1     1.0
2     2.0
3     4.0
4     0.0
5     3.0