# Feature Scaling

### Min/Max Scaling:

In [8]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [5]:
# data
data={'value':[10,20,30,40,50]}
df=pd.DataFrame(data)
df

   value
0     10
1     20
2     30
3     40
4     50

In [7]:
# Min Max Scaling
scaler=MinMaxScaler()
df['Scaled_value'] = scaler.fit_transform(df[['value']])
df

   value  Scaled_value
0     10          0.00
1     20          0.25
2     30          0.50
3     40          0.75
4     50          1.00

### Standard Scaler/ Z-Score Normalization

In [9]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
df['Scaled_value_std'] = scaler.fit_transform(df[['value']])
df

   value  Scaled_value  Scaled_value_std
0     10          0.00         -1.414214
1     20          0.25         -0.707107
2     30          0.50          0.000000
3     40          0.75          0.707107
4     50          1.00          1.414214

### Robust Scaler

In [10]:
from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
df['Scaled_value_rob'] = scaler.fit_transform(df[['value']])
df

   value  Scaled_value  Scaled_value_std  Scaled_value_rob
0     10          0.00         -1.414214              -1.0
1     20          0.25         -0.707107              -0.5
2     30          0.50          0.000000               0.0
3     40          0.75          0.707107               0.5
4     50          1.00          1.414214               1.0

### Logarithmic Scaling

In [13]:
import pandas as pd
import numpy as np
# random data with outliers
df = pd.DataFrame({'value':[1000,234348,12471,50000,37127]})
df

    value
0    1000
1  234348
2   12471
3   50000
4   37127

In [15]:
# log transformation
df['log_scaled'] = np.log(df['value'])
df['log10_scaled'] = np.log10(df['value'])
df['log2_scaled'] = np.log2(df['value'])
df

    value  log_scaled  log10_scaled  log2_scaled
0    1000    6.907755      3.000000     9.965784
1  234348   12.364562      5.369861    17.838293
2   12471    9.431161      4.095901    13.606290
3   50000   10.819778      4.698970    15.609640
4   37127   10.522100      4.569690    15.180181